*{
    margin:0;
    padding:0;
}
a{
    color: inherit;
    font-size: inherit;
}
body {
    background-color: antiquewhite;
}
.inner{
    width: 800px;
    margin: 0 auto;
}

header,
nav {
    background-color: #fff;
}
header{
    padding: 20px 0;
}
nav{
    border-top: 1px solid #999;
}
nav li {
    width: 16.6667%;
    line-height: 30px;
}
nav .dropdown-menu{
    line-height: 50px;
}
#barcode {
    margin-top: 50px;
}